* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --aqua: #34d1bf;
  --background-color: #070707;
  --hover-color: #fde74c;
  --card-bg-color: #252525;
}

body {
  width: 100%;
  background-color: var(--background-color);
}

header {
  background-color: var(--aqua);
  padding: 1.5em 2.5em;
  display: flex;
  justify-content: start;
  align-items: center;
}

header a {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
  transition: color 0.3s;
}

header a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  transition: width 0.3s;
  background-color: var(--hover-color);
}
header a:hover::after {
  width: 100%;
}

header a:hover {
  color: var(--background-color);
}

/* gallery section */
#gallerySection {
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.gallery-item {
  width: 325px;
  height: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: 1.5px solid var(--aqua);
}

.gallery-item img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  transition: transform 0.3s ease-in-out;
}

.linkedin-banner img {
  object-fit: contain;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.747);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.gallery-item:hover .overlay {
  opacity: 1;
}

.overlay h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.overlay p {
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .gallery-container {
    flex-direction: column;
    align-items: center;
  }

  .gallery-item {
    width: 90%;
    margin: 0 auto;
  }

}

@media screen and (max-width: 575px) {
  #gallerySection {
    padding: 50px 25px;
  }
  .gallery-item {
    width: 100%;
  }

}
